# Backup files
Backup/
backup/
*.bak*

# Temporary files
*.tmp
*.dat
*.log

# Binary files
*.gif
*.png
*.jpg
*.jpeg
*.webp

# Secret files
*.env
*.database
*.db
*.sqlite
*.sqlite3
config*.*

# Shortcut link files
*.lnk
*.url

# Builded files
Build/
build/
*.exe
*.msi
*.jar
